<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=kPgdNpM59z">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=kPgdNpM59z" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=kPgdNpM59z" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=kPgdNpM59z">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=kPgdNpM59z" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=kPgdNpM59z">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
